<ng-container *ngIf="!isMetamaskInstalled">
    <header class="d-flex flex-wrap justify-content-center p-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">FTSO Fee/Reward Distributor</span>
        </a>
    </header>
    <div class="container col-xl-10 col-xxl-8 px-4">
        <ngb-alert class="mb-2" [type]="mainClientMessage.type" [dismissible]="false" class="fade show "
            *ngIf="mainClientMessage.hasMessage()">
            <h4 *ngIf="mainClientMessage.title != null">{{mainClientMessage.title}}</h4>
            <span *ngIf="mainClientMessage.message != null">{{mainClientMessage.message}}</span>
        </ngb-alert>
    </div>
</ng-container>

<ng-container *ngIf="isMetamaskInstalled">
    <header class="d-flex flex-wrap justify-content-center p-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">FTSO Fee/Reward Distributor</span>
        </a>

        <div class=" text-end">
            <button type="button" class="btn btn-outline-primary me-2" (click)="connectMetamask()"
                *ngIf="!isWalletConnected()">Connect wallet</button>
            <ngb-alert class="py-1 px-4 m-0" type="info" [dismissible]="false"
                *ngIf="isWalletConnected()"><small>Connected to
                    <strong>{{selectedChainId.name}}</strong> network. Current address:
                    <strong>{{selectedAddress}}</strong></small>
            </ngb-alert>
        </div>
    </header>
    <div class="container col-xl-10 col-xxl-8 px-4">
        <ng-container>
            <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
                <li [ngbNavItem]="0">
                    <a ngbNavLink>Manage instances</a>
                    <ng-template ngbNavContent>
                        <reward-distributor-v2 ></reward-distributor-v2>
                    </ng-template>
                </li>
                <li [ngbNavItem]="1">
                    <a ngbNavLink>Manage instances (old)</a>
                    <ng-template ngbNavContent>
                        <reward-distributor ></reward-distributor>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>About</a>
                    <ng-template ngbNavContent>
                        <div class="row justify-content-md-center">
                            <div class="col-md-12">
                                <p>
                                    This project was created to offer an user interface for the <a
                                        href="https://github.com/alexdupre/ftso-reward-distributor"
                                        title="Ftso Rewward Distributor Smart Contract" target="_new">Ftso Reward
                                        Distributor Smart
                                        Contract</a> developed
                                    by <a href="https://github.com/alexdupre" title="alexdupre Github Repository"
                                        target="_new">alexdupre</a>.</p>

                                <p>The Smart Contract is currently deployed to <a
                                        href="https://coston-explorer.flare.network/address/0xc98fbA33De5DC14f691aa4Ad3dEA047c0C1a3886"
                                        target="_new">Coston</a>, <a
                                        href="https://coston2-explorer.flare.network/address/0x171eB1f854A7e542D88d6f6fb8827C83236C1937"
                                        target="_new">Coston2</a>, <a
                                        href="https://songbird-explorer.flare.network/address/0xc2826E4Ed912fB1EAC94c2Ce97e4111780Cd85be"
                                        target="_new">Songbird</a> and <a
                                        href="https://flare-explorer.flare.network/address/0x171eB1f854A7e542D88d6f6fb8827C83236C1937"
                                        target="_new">Flare</a> network. </p>

                                <p>The source code of this webapp is on <a
                                        href="https://github.com/Pennywise83/ftso-reward-distributor-webapp"
                                        target="_new">Github</a></p>
                                <hr class="bg-secondary border-1 border-top border-secondary my-4" />
                                <p>A set of smart contracts to automate the distribution of the fees generated by the
                                    FTSO
                                    providers. The primary use case is to simplify the work of the FTSO providers, that
                                    every epoch need
                                    to
                                    claim
                                    the fee, fund the provider's address with the gas needed for submit/reveal
                                    transactions,
                                    and wrap the
                                    remaining
                                    for compounding rewards, but it can be used by anyone that has similar needs.</p>
                                <p>A provider can instantiate a new smart contract where to claim the rewards to, by
                                    calling
                                    the
                                    <code>create</code> function of the <code>RewardDistributorFactory</code> contract,
                                    and
                                    by parsing the
                                    generated
                                    <code>Created</code> event to get the new instance address. It's not necessary to
                                    use
                                    the provider's
                                    private
                                    key
                                    to sign the transaction.
                                </p>
                                <p>The newly generated address has to be used as the <code>recipient</code> of the
                                    <code>FtsoRewardManager.claimReward</code> function. During the fee distribution the
                                    smart contract
                                    emits
                                    specific events for each performed transfer, that can be used for accounting
                                    purposes.
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2 mb-5"></div>
        </ng-container>
    </div>
</ng-container>