<form>
    <ng-container *ngIf="errorInstanceIdx == null">
      <div class="p-3 border rounded-3 bg-light">
        <div class="row">
          <div class="col-md-12" *ngIf="request.instanceAddress != null">
            <div class="form-floating mb-4">
              <input type="text" class="form-control" name="instanceAddress" id="instanceAddress"
                [readOnly]="selectedInstanceIdx != null" [disabled]="selectedInstanceIdx != null"
                placeholder="Owner" [ngModel]="request.instanceAddress">
              <label for="floatingInput">Instance address</label>
              <div id="providerHelp" class="form-text">The address of the Reward Distributor instance
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="request.owner != null">
            <div class="form-floating mb-4">
              <input type="text" class="form-control" name="owner" id="owner"
                [readOnly]="selectedInstanceIdx != null" [disabled]="selectedInstanceIdx != null"
                placeholder="Owner" [ngModel]="request.owner">
              <label for="floatingInput">Owner</label>
              <div id="providerHelp" class="form-text">The owner of the Reward Distributor instance </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating mb-4">
              <input type="text" class="form-control" name="provider" id="provider"
                [readOnly]="selectedInstanceIdx != null" [disabled]="selectedInstanceIdx != null"
                placeholder="Provider address" [(ngModel)]="request.provider">
              <label for="floatingInput">Provider address</label>
              <div id="providerHelp" class="form-text">The address of the FTSO provider, used to maintain
                a
                minimum
                balance
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating mb-4">
              <input type="text" class="form-control" name="description" id="description"
                placeholder="Instance description" [(ngModel)]="request.description">
              <label for="floatingInput">Instance description</label>
              <div id="providerHelp" class="form-text">Description of the new RewardDistributor instance
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-floating mb-0">
              <input type="number" min="0" class="form-control" name="reserveBalance" id="reserveBalance"
                placeholder="Reserve balance" [(ngModel)]="request.reserveBalance">
              <label for=" reserveBalance">Reserve balance</label>
              <div id="reserveBalanceHelp" class="form-text">the desired balance (in wei) of the
                provider's
                account,
                it'll
                be refilled to match the value, if necessary
              </div>
            </div>
          </div>
          <div class="col-md-2 offset-md-2">
            <div class="form-check" *ngIf="selectedInstanceIdx == null">
              <input type="checkbox" class="form-check-input" [name]="'editable'" [id]="'editable'"
                [(ngModel)]="request.editable">
              <label class="form-check-label" [for]="'editable'">Editable</label>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="w-50 btn btn-md btn-outline-primary my-3" (click)="addRecipient()">Add
          recipient</button>
      </div>
      <div class="p-3 border rounded-3 bg-light mb-3">
        <span *ngIf="request.recipients.length == 0">No recipients set</span>
        <div class="row" *ngFor="let recipient of request.recipients; let idx = index">
          <div class="col-md-1">
            <button class="btn btn-sm btn-outline-secondary py-0 px-1" (click)="removeRecipient(idx)">
              <i class="bi bi-x"></i></button>
          </div>
          <div class="col-md-7">
            <div class="form-floating">
              <input type="text" class="form-control" [name]="'recipient'+idx" [id]="'recipient'+idx"
                placeholder="Recipient" [(ngModel)]="recipient.address">
              <label for="floatingInput">Address</label>
              <div id="providerHelp" class="form-text">The address where the provider's fee will be sent
                to,
                in
                different percentages. </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating">
              <input type="number" class="form-control" [name]="'bips'+idx" [id]="'bips'+idx"
                placeholder="Percentage" [(ngModel)]="recipient.bips">
              <label for="floatingInput">Percentage</label>
              <div class="mt-2 form-check">
                <input type="checkbox" class="form-check-input" [name]="'wrap'+idx" [id]="'wrap'+idx"
                  [(ngModel)]="recipient.wrap">
                <label class="form-check-label" [for]="'wrap'+idx">Wrap</label>
              </div>
            </div>
          </div>
          <hr class="bg-secondary border-1 border-top border-secondary my-2"
            *ngIf="idx < request.recipients.length-1">
        </div>

      </div>
      <div class="row" *ngIf="selectedInstanceIdx == null">
        <div class="col-md-12">
          <button class="w-100 btn btn-lg btn-primary" type="submit"
            [disabled]="!isFormValid() || !walletConnected" (click)="openModal(operations.create)">Create
            instance</button>
        </div>
      </div>
      <div class="row" *ngIf="selectedInstanceIdx != null">
        <div class="col-md-4">
          <button class="w-100 btn btn-lg btn-danger" type="submit"
            [disabled]="!request.editable || !walletConnected"
            (click)="openModal(operations.destroy)">Destroy
            instance</button>
        </div>
        <div class="col-md-8">
          <button class="w-100 btn btn-lg btn-primary" type="submit"
            [disabled]="!isFormValid() || !walletConnected" (click)="openModal(operations.edit)">Update
            instance</button>
        </div>
      </div>
    </ng-container>
    <div class="row" *ngIf="errorInstanceIdx != null && errorInstanceIdx >= 0">
      <div class="col-md-12">
        <button class="w-100 btn btn-lg btn-danger" type="submit"
          [disabled]="!request.editable || !walletConnected"
          (click)="openRemoveModal(operations.remove)">Remove
          instance from list</button>
      </div>
    </div>
  </form>